.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255,255,255,0.95);
}

.popup_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* left: 20%;
    right: 20%;
    top: 2vh; */

    height: 100vh;

    border-radius: 15px;

    margin: 0;
    padding: 10px;
}

.imgExpand img{
    max-height: 80vh;
}


.footerExpand{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleExpand {
    font-size: xx-large;
    margin-right: 1em;
}

.infoExpand{
    font-size: medium;
    cursor: pointer;
}

.infoExpand:hover{
    font-weight: bold;
}

.details{
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonExpand{
    margin: 0.5em;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #000;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer
}

.buttonExpand:hover{
    font-weight: bold;
}
