.ulGrabados div{
    margin: 0.5em 0;
    color: #000;
    box-shadow: inset 0 0 0 0 #336b87;
    /* margin: 0 -.25rem; */
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}


.ulGrabados .ligrabados:hover{
    box-shadow: inset 0 500px 0 0 #336b87;
    color: white;
  }

.activeGrab div{
    color: white;
    background-color: #336b87;
}

.desactiveGrab li a:visited{
    color: unset;
}