.navbar {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
}
.logo {
    padding-left: 50%;
    width: 50%;
}

.pageTitle{
    white-space: pre-wrap;
    text-align: right;
}

a{
    text-decoration: none;
}


a:visited{
    color: unset;
}
ul{
    padding-inline-start: 0;
}

.ulList li{
    margin: 0.5em 0;
    list-style-type: none;

    cursor: pointer;

    font-size: x-large;
    text-align: right;

    color: #cdcdcd;
    box-shadow: inset 0 0 0 0 #336b87;
    /* margin: 0 -.25rem; */
    /* transition: color .3s ease-in-out, box-shadow .3s ease-in-out; */
}

  .ulList li:hover{
    color: #000;
  }


.ulGrabados {
    margin-bottom: 0.5em;
    font-size: medium;
    text-align: right;
}

.active li{
    color: #000;

}

.desactive li a:visited{
    color: unset;
}
